<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <material name="custom_gray">
    <color rgba="0.24705882352941178 0.34509803921568627 0.40784313725490196 1"/>
  </material>

  <xacro:macro name="crm_dual_robot" params="
    parent
    *origin

    alice_ur_type
    alice_joint_limits_parameters_file
    alice_kinematics_parameters_file
    alice_physical_parameters_file
    alice_visual_parameters_file

    bob_ur_type
    bob_joint_limits_parameters_file
    bob_kinematics_parameters_file
    bob_physical_parameters_file
    bob_visual_parameters_file
    ">

    <joint name="vention_bench_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="vention_bench" />
    </joint>

    <link name="vention_bench">
      <visual>
        <geometry>
          <mesh filename="package://crm_dual_description/meshes/bench_simplified_corrected.stl"/>
        </geometry>
        <origin rpy="0 0 ${pi}" xyz="0 0.72 -0.776572"/>
        <material name="custom_blue">
          <color rgba="0.4157 0.6471 0.8588 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://crm_dual_description/meshes/bench_simplified_corrected.stl"/>
        </geometry>
        <origin rpy="0 0 ${pi}" xyz="0 0.72 -0.776572"/>
      </collision>
    </link>

    <!--Creates the mounts to attach the robots to the vention bench-->
    <link name="alice_robot_mount"/>
    <joint name="base_to_alice_robot_mount" type="fixed">
      <parent link="vention_bench"/>
      <child link="alice_robot_mount"/>
      <origin xyz="-0.315 0.607 0.0145" rpy="0 0 ${pi}" />
    </joint>
  
    <link name="bob_robot_mount"/>
    <joint name="base_to_bob_robot_mount" type="fixed">
      <parent link="vention_bench"/>
      <child link="bob_robot_mount"/>
      <origin xyz="0.315 0.607 0.0145" rpy="0 0 ${pi}" />
    </joint>

    <!--Creates the 1st Robot-->
    <xacro:ur_robot
      name="alice"
      tf_prefix="alice_"
      parent="alice_robot_mount"
      joint_limits_parameters_file="${alice_joint_limits_parameters_file}"
      kinematics_parameters_file="${alice_kinematics_parameters_file}"
      physical_parameters_file="${alice_physical_parameters_file}"
      visual_parameters_file="${alice_visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>
  
    <!--Creates the 2nd Robot-->
    <xacro:ur_robot
      name="bob"
      tf_prefix="bob_"
      parent="bob_robot_mount"
      joint_limits_parameters_file="${bob_joint_limits_parameters_file}"
      kinematics_parameters_file="${bob_kinematics_parameters_file}"
      physical_parameters_file="${bob_physical_parameters_file}"
      visual_parameters_file="${bob_visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

    <link name="bob_hotend">
        <visual>
          <geometry>
            <mesh filename="package://crm_dual_description/meshes/end_effector.stl"/>
          </geometry>
          <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0.003186 0.021844 0"/>
          <material name="custom_gray"/>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://crm_dual_description/meshes/end_effector.stl"/>
          </geometry>
          <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0.003186 0.021844 0"/>
        </collision>
    </link>

    <joint name="bob_tool0-hotend" type="fixed">
      <parent link="bob_tool0"/>
      <child link="bob_hotend"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="bob_nozzle"/>
    
    <joint name="bob_tool0-nozzle" type="fixed">
      <parent link="bob_tool0" />
      <child link="bob_nozzle" />
      <origin xyz="0.002 0.05 0.1368" rpy="${pi} 0 0" />
    </joint>
  
    <link name="bob_bltouch"/>

    <joint name="bob_tool0-bltouch" type="fixed">
      <parent link="bob_tool0" />
      <child link="bob_bltouch" />
      <origin xyz="-0.024252 0.026407 0.156326" rpy="${pi} 0 0" />
    </joint>

    <!-- Old BLTouch Config -->
    <!-- <joint name="bob_tool0-bltouch" type="fixed">
      <parent link="bob_tool0" />
      <child link="bob_bltouch" />
      <origin xyz="0.0674 0 0.0206502" rpy="0 ${pi/2} ${pi}" />
    </joint> -->
    
    <link name="alice_laser_profiler">
        <visual>
          <geometry>
            <mesh filename="package://crm_dual_description/meshes/laser_profiler.stl"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <material name="custom_gray"/>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://crm_dual_description/meshes/laser_profiler.stl"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

    <joint name="alice_tool0-laser_profiler" type="fixed">
      <parent link="alice_tool0"/>
      <child link="alice_laser_profiler"/>
      <origin xyz="0 0 0" rpy="0 ${pi} 0" />
    </joint>

  </xacro:macro>
</robot>
