<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crm_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import crm_robot urdf file -->
    <xacro:include filename="$(find crm_dual_description)/urdf/crm_dual.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="crm_robot.ros2_control.xacro" />


    <xacro:crm_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
